.navbar .navbar-nav {
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.footer{
    text-align:center;
}

#footer-text{
    color:#fff;
}

#mailbox {
    margin-bottom:40px;
}