<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT userMessage ANY>
<!ATTLIST userMessage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1067" key="789b6a4c-a38c-41c4-8a28-d980d365ab8d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T11:32:15" updateDate="2016-03-22T00:25:13" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1051" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1049" nodeTypeAlias="homePage">
    <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo>1066</logo>
    <siteTitle><![CDATA[Aarhus Web Developer Coop]]></siteTitle>
    <mainContent><![CDATA[<h2 style="text-align: center;"><span>Welcome to Aarhus Web Developer Co-op! Here we're going to try to grow as a community by collaborating on projects!</span></h2>
<p><span><img style="width: 500px; height:281.6666666666667px;" src="/media/1035/groupproject.jpg?width=500&amp;height=281.6666666666667" alt="" rel="1173" data-id="1173" />            <img style="width: 500px; height:311px;" src="/media/1036/puzzlepiece2.jpg?width=500&amp;height=311" alt="" rel="1174" data-id="1174" /></span></p>]]></mainContent>
    <projectsMain id="1073" key="b9376c9b-8a3e-461e-852c-f9310bfd126d" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2016-02-15T15:19:13" updateDate="2016-03-24T17:42:26" nodeName="All Projects" urlName="all-projects" path="-1,1067,1073" isDoc="" nodeType="1059" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1058" nodeTypeAlias="projectsMain">
      <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>On this page, you can find a list of all the awesome projects that people are cooperating on! </p>
<p>C'mon, don't be shy, browse through them! You may even find one that appeals to you ;)</p>]]></projectsBodyText>
      <projectItem id="1074" key="5292ab53-521a-4afd-973e-6081b7a31cb2" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2016-02-15T15:24:27" updateDate="2016-03-21T13:09:35" nodeName="Lego Robot Went Haywire" urlName="lego-robot-went-haywire" path="-1,1067,1073,1074" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>8</projectStatus>
        <projectTitle><![CDATA[Lego Robot Went Haywire]]></projectTitle>
        <projectDescription><![CDATA[<p>Oh no, our Lego Robot started acting up while we were trying to implement a language module for it! Come and help us make it behave, while also teaching it more nice words that it can use!</p>
<p><img style="width: 782px; height: 352px; display: block; margin-left: auto; margin-right: auto;" src="/media/1031/languages1000px.jpg?width=782&amp;height=352" alt="" rel="1169" data-id="1169" /></p>
<p><img style="width: 924px; height: 602px; display: block; margin-left: auto; margin-right: auto;" src="/media/1032/lego-robot.jpg?width=924&amp;height=602" alt="" rel="1170" data-id="1170" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1075" key="e329f17d-04bd-4c17-b91a-99199c6a54a6" parentID="1073" level="3" creatorID="0" sortOrder="4" createDate="2016-02-15T15:33:03" updateDate="2016-03-21T13:22:28" nodeName="Duck Hunt Remade in Virtual Reality" urlName="duck-hunt-remade-in-virtual-reality" path="-1,1067,1073,1075" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>6</projectStatus>
        <projectTitle><![CDATA[Duck Hunt Remade in Virtual Reality]]></projectTitle>
        <projectDescription><![CDATA[<p>Even as we demo and highlight some exhilarating game launch titles for the HTC Vive and Oculus Rift set to release in the coming months, sometimes an old classic game in VR is actually much more satisfying.</p>
<p>Students are going to create <em>Duck Hunt Life VR </em>with<em><span> </span></em>the ability to track hand-motion in virtual reality<span>. In this VR version of Duck Hunt, the 8-bit graphics will still hold true but have a 3D quality to them by converting two-dimensional graphics into 3D models with depth.</span></p>
<p><span>The players will not be limited to one position like the original NES game. They will be able to move through the fields, turning around in 360-degrees to shoot ducks where they may pop up, with that ever distinct orange and grey NES gun.</span></p>
<p><span>We will also add a skeet shooter to Duck Hunt in the final hour of the game jam. This addition was inspired by Duck Hunt’s “Game C,” which had the shooter firing away at clay pigeons.</span></p>
<p><span>A “hub space” will also be created, where you can select a level and hang out in a furnished room with bottles of alcohol, a TV and a radio playing the theme song of Duck Hunt. Bring up your virtual gun to your face, aim and shoot everything in the room as well!</span></p>
<p><span><img style="width: 500px; height:280.83333333333337px;" src="/media/1033/duck-hunter.png?width=500&amp;height=280.83333333333337" alt="" rel="1171" data-id="1171" />   <img style="width: 500px; height: 280.833px; float: right;" src="/media/1034/duck-hunt-vr-oculus-house.jpg?width=500&amp;height=280.83333333333337" alt="" rel="1172" data-id="1172" /></span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1076" key="319e52b0-1ac0-49a6-8970-38e22d8a1f85" parentID="1073" level="3" creatorID="0" sortOrder="5" createDate="2016-02-15T15:39:27" updateDate="2016-03-21T13:05:38" nodeName="Student Jobs Database" urlName="student-jobs-database" path="-1,1067,1073,1076" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>7</projectStatus>
        <projectTitle><![CDATA[Student Jobs Database]]></projectTitle>
        <projectDescription><![CDATA[<p>There are so many students in Aarhus that we've decided it would be of great use to provide a student jobs portal, made by students for students! We're in need of:</p>
<p>- coders</p>
<p>- designers</p>
<p>- researchers.</p>
<p>We already have an outline for this idea, but we want to make sure that the usability of this portal will be top notch and that's why we need you!</p>
<p><img style="width: 649px; height: 353px; display: block; margin-left: auto; margin-right: auto;" src="/media/1029/studentjob1.png?width=649&amp;height=353" alt="" rel="1167" data-id="1167" /></p>
<p><img id="__mcenew" style="display: block; margin-left: auto; margin-right: auto;" src="/media/1030/studentjob2.png" alt="" rel="1168" data-id="1168" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="e11a33a8-eb00-4080-898a-1ce666b34a64" parentID="1073" level="3" creatorID="0" sortOrder="6" createDate="2016-02-26T14:04:22" updateDate="2016-03-21T12:10:26" nodeName="Canteen Mobile App" urlName="canteen-mobile-app" path="-1,1067,1073,1090" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Canteen Mobile App]]></projectTitle>
        <projectDescription><![CDATA[<p>Our team has managed to make a mobile app which offers information about what is going on at the canteen! Whether you want to order the menu of the day or just take a look at the delicious food that is available, this app is going to help you.</p>
<p><img style="width: 356.76625659050967px; height:500px;" src="/media/1024/canteen1.png?width=356.76625659050967&amp;height=500" alt="" rel="1162" data-id="1162" />                  <img id="__mcenew" src="/media/1026/canteen3.png?width=287&amp;height=532" alt="" width="287" height="532" rel="1164" data-id="1164" />                  <img style="width: 340.351px; height: 500px;" src="/media/1025/canteen2.png?width=340.3508771929824&amp;height=500" alt="" rel="1163" data-id="1163" />   </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1091" key="e898e303-7822-4b61-a423-799532069320" parentID="1073" level="3" creatorID="0" sortOrder="7" createDate="2016-02-26T17:23:17" updateDate="2016-03-21T12:57:35" nodeName="Building a DIY AR Device" urlName="building-a-diy-ar-device" path="-1,1067,1073,1091" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Building a DIY AR Device]]></projectTitle>
        <projectDescription><![CDATA[<p>As of right now, the <a href="http://vrscout.com/news/microsoft-moves-augmented-reality-with-hololens-headset/" target="_blank">HoloLens</a> is only available to developers through an application process and will set you back $3,000. The much <a href="https://www.youtube.com/watch?v=XxwrXacMe6Y" target="_blank">raved about</a> Meta 2 headset comes in at a more affordable $949, but even that is still a hefty price tag for many to swallow.</p>
<p>That’s when our team set out to come up with a more affordably priced option of our own, which we calls the Polylens. The pricetag to make this DIY AR device? Under $30.</p>
<p><span>Now let’s be clear, this is in no way near the camera riddled augmented reality devices we think of when we talk about AR, but </span><strong>it’s a start to a more affordable AR device option in the future.</strong><span> We are hoping Polylens can do for AR what Cardboard did for VR.</span></p>
<p><span>Functional AR device or not, just watching it all come together is still fun and inspiring. Although it may look simple enough as a DIY project, there is definitely a trip to the local laser-cutting shop and plastic bonding that may put this slightly out of reach for the casual DIY hobbyist.</span></p>
<p>To create the Polylens, we sketched out the designs in Illustrator, had a local laser-cutting shop shape the plastic parts, bonded the pieces together, polished and hacked together a preview concept app utilizing the Google Cardboard SDK. The final step was to place our phones on top of the device and look through the viewer window. Tested and satisfied.</p>
<p>From the look of things, Polylens is able to integrate digital information into the user’s view of the real world, providing a composite view that is representative of augmented reality and it looks pretty sleek.<span>The exciting part of this whole DIY project though is our future plans to further build out the mobile app, incorporate the phone camera and integrate LeapMotion hand tracking, all while hoping to stay at an affordable price.</span></p>
<p><span><img style="width: 500px; height:293.1323283082077px;" src="/media/1027/polylens.png?width=500&amp;height=293.1323283082077" alt="" rel="1165" data-id="1165" /><img style="width: 500px; height:306.8561872909699px;" src="/media/1028/polylens2.png?width=500&amp;height=306.8561872909699" alt="" rel="1166" data-id="1166" /></span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1092" key="80a76b6b-38fc-4796-936d-f21e05202250" parentID="1073" level="3" creatorID="0" sortOrder="8" createDate="2016-02-26T17:27:28" updateDate="2016-03-21T12:03:00" nodeName="Face-tracking software" urlName="face-tracking-software" path="-1,1067,1073,1092" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Face-tracking software]]></projectTitle>
        <projectDescription><![CDATA[<p>You know how they say, "Show me pictures or video, or it didn't happen"?</p>
<p>Well, the days when you could trust what you see on video in real time are officially coming to an end thanks to a new kind of face tracking.</p>
<p><span>A team from Stanford, the Max Planck Institute for Informatics and the University of Erlangen-Nuremberg has produced a video demonstrating how its software, </span><a href="http://www.graphics.stanford.edu/~niessner/thies2016face.html" target="_blank">called Face2Face</a><span>, in combination with a common webcam, can make any person on video appear to say anything a source actor wants them to say.</span></p>
<p><span>In addition to perfectly capturing the real-time talking motions of the actor and placing them seamlessly on the video subject, the software also accounts for real-time facial expressions, including distinct movements such as eyebrow raises.</span></p>
<p><span>We knew this kind of stuff was possible in the special effects editing room, but the ability to do it in real time — without those nagging <a href="http://mashable.com/2014/06/19/uncanny-valley-mashable-explains/" data-crackerjax="#post-slider">"uncanny valley"</a><span> artifacts — could change how we interpret video documentation forever.</span></span></p>
<p> </p>
<p><img style="width: 524px; height: 347px;" src="/media/1022/facial1.png?width=524&amp;height=347" alt="" rel="1160" data-id="1160" /> <img style="width: 500px; height: 338.527px; float: right;" src="/media/1023/facial2.png?width=500&amp;height=338.5269121813031" alt="" rel="1161" data-id="1161" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1093" key="bc488ed6-115f-49dd-b02b-3d779603bd56" parentID="1073" level="3" creatorID="0" sortOrder="9" createDate="2016-02-26T17:28:15" updateDate="2016-03-21T11:55:39" nodeName="Aarhus Collab App (Android)" urlName="aarhus-collab-app-android" path="-1,1067,1073,1093" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Aarhus Collab App (Android)]]></projectTitle>
        <projectDescription><![CDATA[<p>With so many people taking interest in working on the projects that we have here, everybody needs a team management app to keep track of all the changes that are constantly happening and to chat with the team members. You can even tell the app to start the timer when you're doing certain tasks, just to see how much time you're investing in doing awesome stuff! It's like you've got Trello and Slack in the same app in your pocket, but you need to login only once!</p>
<p>We are planning on making desktop, tablet and iPhone versions as well in the near future, so we are looking forward to gaining more team members who can code and design! You can join our team immediately if you know anything about iPhone design, Swift programming or databases. And even if you don't know how to do this stuff, you can start with small tasks and learn from there! People are always happy to help you develop yourself and at the same time make something breathtaking for the world around you!</p>
<p><img style="width: 816px; height: 552px; display: block; margin-left: auto; margin-right: auto;" src="/media/1021/slacklikeapp.png?width=816&amp;height=552" alt="" rel="1159" data-id="1159" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1094" key="af887b7a-b407-4bf0-a3ed-5986b63c44ca" parentID="1073" level="3" creatorID="0" sortOrder="10" createDate="2016-02-26T17:30:07" updateDate="2016-03-21T11:42:59" nodeName="Exploring the risks of artificial intelligence" urlName="exploring-the-risks-of-artificial-intelligence" path="-1,1067,1073,1094" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Exploring the risks of artificial intelligence]]></projectTitle>
        <projectDescription><![CDATA[<p>“Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.”</p>
<p>These words, articulated by Neil Armstrong at a speech to a joint session of Congress in 1969, fit squarely into most every decade since the turn of the century, and it seems to safe to posit that the rate of change in technology has accelerated to an exponential degree in the last two decades, especially in the areas of artificial intelligence and machine learning.</p>
<p>Artificial intelligence is making an extreme entrance into almost every facet of society in predicted and unforeseen ways, causing both excitement and trepidation. This reaction alone is predictable, but can we really predict the associated risks involved?</p>
<p>It seems we’re all trying to get a grip on potential reality, but information overload (yet another side affect that we’re struggling to deal with in our digital world) can ironically make constructing an informed opinion more challenging than ever. In the search for some semblance of truth, it can help to turn to those in the trenches.</p>
<p>In my continued interview with over 30 artificial intelligence researchers, I asked what they considered to be the most likely risk of artificial intelligence in the next 20 years.</p>
<p>Some results from the survey, shown in the graphic below, included 33 responses from different AI/cognitive science researchers. (For the complete collection of interviews, and more information on all of our 40+ respondents, <a href="http://techemergence.com/artificial-intelligence-risk/" target="_blank">visit the original interactive infographic here on TechEmergence</a>).</p>
<p>Two “greatest” risks bubbled to the top of the response pool (and the majority are not in the autonomous robots’ camp, though a few do fall into this one). According to this particular set of minds, the most pressing short- and long-term risks is the financial and economic harm that may be wrought, as well as mismanagement of AI by human beings.</p>
<p>Dr. Joscha Bach of the MIT Media Lab and Harvard Program for Evolutionary Dynamics summed up the larger picture this way:</p>
<p>“The risks brought about by near-term AI may turn out to be the same risks that are already inherent in our society. Automation through AI will increase productivity, but won’t improve our living conditions if we don’t move away from a labor/wage based economy. It may also speed up pollution and resource exhaustion, if we don’t manage to install meaningful regulations. Even in the long run, making AI safe for humanity may turn out to be the same as making our society safe for humanity.”</p>
<p><img style="width: 763px; height: 414px; display: block; margin-left: auto; margin-right: auto;" src="/media/1020/ai.jpg?width=763&amp;height=414" alt="" rel="1158" data-id="1158" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1095" key="4b2335a9-ea1f-4afa-aa45-435127e96c57" parentID="1073" level="3" creatorID="0" sortOrder="11" createDate="2016-02-26T17:31:09" updateDate="2016-03-21T11:37:17" nodeName="Inventory Control System" urlName="inventory-control-system" path="-1,1067,1073,1095" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Inventory Control System]]></projectTitle>
        <projectDescription><![CDATA[<p><span class="tooltiplink">We all know that Dansk Supermarked is the leader in retail because it owns a lot of supermarket branches which you can find in Denmark and other European countries, such as Netto, Bilka, Starbucks etc. With so many shops across the land, there comes the responsibility of being able to fastly produce bills for the customers' products and then have an overview of the stock.</span></p>
<p><span class="tooltiplink"><img style="width: 698px; height: 346px; display: block; margin-left: auto; margin-right: auto;" src="/media/1018/inventory-system.png?width=698&amp;height=346" alt="" rel="1156" data-id="1156" /> <img style="width: 657px; height: 448px; display: block; margin-left: auto; margin-right: auto;" src="/media/1019/inventory-system2.png?width=657&amp;height=448" alt="" rel="1157" data-id="1157" /></span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1096" key="656cbbbc-dcba-41f6-b089-557690ed53a2" parentID="1073" level="3" creatorID="0" sortOrder="12" createDate="2016-02-26T17:31:52" updateDate="2016-03-21T11:22:45" nodeName="Blogging Engine" urlName="blogging-engine" path="-1,1067,1073,1096" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Blogging Engine]]></projectTitle>
        <projectDescription><![CDATA[<p>Forums are probably the least popular application type these days as most people seem to prefer building a blog engine instead—the similarities of which are interesting. Both have a main topic with the ability for people to respond. The main differences are in who's allowed to post (everybody vs admin) and who's allowed to reply (registered vs anonymous).</p>
<p>Over the last few years, the blogging engine has certainly become one of those things a web developer just does—usually as a result of outgrowing whatever engine they were using before.</p>
<p>Blogging engines can be much more complex than a forum, though, including trackbacks and RSS generation. (Not to say that RSS couldn't be in a forum; in fact, it probably should. It's just more prevalent in blogging.) Many web application frameworks like Ruby on Rails, CodeIgniter, and CakePHP include a tutorial on how to build a blog.</p>
<p><img style="width: 699px; height: 395px; display: block; margin-left: auto; margin-right: auto;" src="/media/1017/blogengine.png?width=699&amp;height=395" alt="" rel="1155" data-id="1155" /></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1097" key="d58eedcb-c4ab-4e5e-aabc-790996aa2542" parentID="1073" level="3" creatorID="0" sortOrder="13" createDate="2016-02-26T17:58:41" updateDate="2016-03-21T11:15:42" nodeName="Content Management System" urlName="content-management-system" path="-1,1067,1073,1097" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Content Management System]]></projectTitle>
        <projectDescription><![CDATA[<p>The pinnacle project of a web application developer is the custom content management system. Born from the frustrations of trying to wield open source or commercial applications, it seems to be every developer's duty to try and build a custom CMS. How do you manage different object types? Templating, authentication, workflow, internationalization and localization are just a few of the issues you have to contend with in building a CMS. Do you go simple or do you go complex? How does the average user, with little web experience, find their way around the application?</p>
<p>Building a custom CMS is a fantastic excercise on so many levels — well beyond what you run into with a blog or forum. Much of my design intuitiion came from this type of development. Custom CMS development almost always comes from design issues and not technological issues. They are a response to poor and confusing interfaces. Above and beyond forum design and blog design, CMS design really requires you to step outside of yourself and understand what the pain points are and how to solve them. This might also explain why most of them seem to suck and why developers around the globe continue to feel the need to reinvent this bumpy wheel.</p>
<p>But it's also the avenue with seemingly endless possibilities. Is it hosted, is it custom, is it for the designer, is it for enterprises, and so on and so forth.</p>
<p><img style="width: 500px; height: 409px; float: left;" src="/media/1015/cms.png?width=500&amp;height=409" alt="" rel="1153" data-id="1153" /><img style="width: 500px; height: 454.545px; display: block; margin-left: auto; margin-right: auto;" src="/media/1016/cms-based.png?width=500&amp;height=454.5454545454545" alt="" rel="1154" data-id="1154" /></p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <articlesMain id="1069" key="f63c74ca-9e90-4214-97f1-bdf01607e823" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2016-02-15T13:08:33" updateDate="2016-03-18T09:05:26" nodeName="Articles" urlName="articles" path="-1,1067,1069" isDoc="" nodeType="1055" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1054" nodeTypeAlias="articlesMain">
      <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Here's a list of our articles!</p>]]></articlesBodyText>
      <articleItem id="1070" key="b8fd17a5-fa49-4104-a46f-f98ba3dab86f" parentID="1069" level="3" creatorID="0" sortOrder="3" createDate="2016-02-15T13:10:13" updateDate="2016-02-18T16:18:49" nodeName="First Article Ever!" urlName="first-article-ever" path="-1,1067,1069,1070" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Lego Robot]]></articleTitle>
        <articleContent><![CDATA[<p>Our Lego robot went haywire. Help us stop it from destroying everything in its path!</p>]]></articleContent>
      </articleItem>
      <articleItem id="1071" key="d019116f-ba79-4976-b135-330b793b2a62" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2016-02-15T15:12:29" updateDate="2016-02-15T15:12:50" nodeName="Second Article" urlName="second-article" path="-1,1069,1071" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Mobile App For Fronter]]></articleTitle>
        <articleContent><![CDATA[<p>We are excited to announce that we are going to make a mobile app for Fronter! Keep your eyes on our progress!</p>]]></articleContent>
      </articleItem>
      <articleItem id="1072" key="728f24b5-ec6c-4e09-a9e0-1c84df813fa2" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2016-02-15T15:15:02" updateDate="2016-02-15T15:15:02" nodeName="Third Article" urlName="third-article" path="-1,1069,1072" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Designing with Your Imagination]]></articleTitle>
        <articleContent><![CDATA[<p>This weekend, you can join other students from IT educations to design and code awesome stuff, by using your imagination!</p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <members id="1144" key="f88c172d-6737-4745-9e7b-8194c75582e5" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2016-03-10T18:15:54" updateDate="2016-03-18T12:50:08" nodeName="Members" urlName="members" path="-1,1067,1144" isDoc="" nodeType="1143" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1142" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <forbiddenAccess id="1140" key="03f6fe3c-0758-403c-911c-03ec4a9fdd51" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2016-03-09T19:25:01" updateDate="2016-03-18T12:50:08" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1067,1140" isDoc="" nodeType="1139" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1138" nodeTypeAlias="forbiddenAccess">
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAccess>
    <contactPage id="1106" key="832d719a-f723-4198-8381-c87d36bf80e8" parentID="1067" level="2" creatorID="0" sortOrder="4" createDate="2016-03-04T11:34:47" updateDate="2016-03-18T09:04:38" nodeName="Contact Us" urlName="contact-us" path="-1,1067,1106" isDoc="" nodeType="1105" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1104" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <userMessage id="1119" key="3fd16b98-49f8-47fb-a6e0-6188ed9f0eed" parentID="1106" level="3" creatorID="0" sortOrder="1" createDate="2016-03-05T13:40:25" updateDate="2016-03-05T13:40:25" nodeName="Testing with publishing" urlName="testing-with-publishing" path="-1,1067,1106,1119" isDoc="" nodeType="1117" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1116" nodeTypeAlias="userMessage">
        <message><![CDATA[I wonder what's going to happen once this gets published. Where does it get published? Heh]]></message>
        <subject><![CDATA[Testing with publishing]]></subject>
        <yourName><![CDATA[Marina]]></yourName>
        <email><![CDATA[ghergheliviamarina@yahoo.com]]></email>
      </userMessage>
    </contactPage>
    <aboutUs id="1089" key="8dcb6503-3e11-42f2-ac86-2ea50ee292f7" parentID="1067" level="2" creatorID="0" sortOrder="5" createDate="2016-02-26T13:53:03" updateDate="2016-03-24T13:32:50" nodeName="About Us" urlName="about-us" path="-1,1067,1089" isDoc="" nodeType="1079" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1084" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 2,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Who are we?",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 2,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "f2107daa-719f-694d-46c1-e44faaa06c58"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 2,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1082,
                    "image": "/media/1004/project-management600px.jpg",
                    "caption": ""
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 2,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "c0501fb3-b100-76b8-5af4-84b32a59d256"
        },
        {
          "name": "Paragraphs",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>We're a team of developers who wish for other developers in Aarhus to be more productive.</p>\n<p>We've noticed that developers in North America are taking all the credit for developing stuff while the rest of the world is considered silent. We want to change that.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1151,
                    "image": "/media/1013/our-team-small.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>We're providing you with the opportunity to find projects that interest you and get involved!</p>\n<p>Feel free to browse through our projects, be they already in development, or just at the stage where people are still brainstorming the idea.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1150,
                    "image": "/media/1012/project-small.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>The best part is that you get to collaborate with other students to do awesome stuff.</p>\n<p>Be they mobile apps or websites, you can just join the fun in developing them. You just have to want to show up and communicate with everybody so that everything is going to go smoothly!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1148,
                    "image": "/media/1010/team-small2.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "c99641bd-ad79-03af-9eeb-e0d041e189b9",
          "active": false
        }
      ]
    }
  ]
}]]></aboutUsGrid>
    </aboutUs>
    <sitemap id="1100" key="5d3be75b-4c95-47c1-a198-b58f0e7142d7" parentID="1067" level="2" creatorID="0" sortOrder="6" createDate="2016-02-26T18:30:46" updateDate="2016-03-18T12:50:08" nodeName="Sitemap" urlName="sitemap" path="-1,1067,1100" isDoc="" nodeType="1099" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1098" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <login id="1137" key="ca3b7c1f-0f2c-4d68-addb-d7b28be31117" parentID="1067" level="2" creatorID="0" sortOrder="7" createDate="2016-03-09T19:05:14" updateDate="2016-03-18T09:04:38" nodeName="Login" urlName="login" path="-1,1067,1137" isDoc="" nodeType="1136" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1135" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
  </homePage>
</root>